
.grid-container {
    display: grid;

    grid-template-columns: auto 40% auto;
    /*background-color: #2196F3;*/

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px  rgba(0, 0, 0, 0.3);
    padding: 1px;
    font-size: 20px;
    text-align: center;
}
